<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* styles.css */

    * {
      font-family: 'Poppins';
    }

    body {
      background: hsl(218deg 50% 91%);
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container {
      max-width: 800px;
      margin: auto;
      padding: 2em;
    }

    h1 {
      color: hsl(233deg 36% 38%);
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .fullURLContainer,
    .shortURLContainer,
    .submitButtonContainer {
      flex: 0.3;
    }

    .fullURLContainer {
      flex: 2.5; /* You can adjust the flex value based on your preferred layout */
    }

    .shortURLContainer {
      flex: 1.5;
    }

    label {
      color: hsl(0deg 0% 30%);
    }

    input {
      padding: 0.5em;
      border: 1px solid hsl(0deg 0% 80%);
      border-radius: 5px;
    }

    button {
      cursor: pointer;
      padding: 0.5em;
      background: hsl(233deg 36% 38%);
      color: hsl(0, 29%, 95%);
      border: none;
      border-radius: 5px;
      font-weight: 600;
      width: 10em;
    }

    .copyButton{
      width: 25px;
    }

    .shortenButton {
      width: 75px;
    }

    .shortURLDiv {
      text-align: left;
    }

    .shortURLLinkDiv {
      display: inline-block;
    }

    .copyButtonDiv {
      float: right;
    }

    #fullUrl{
      width: 350px;
    }

    a {
      color: hsl(233deg 36% 38%);
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }

    table {
      width: 100%;
      margin-top: 1em;
      margin-bottom: 1em;
      border-collapse: collapse;
      table-layout: fixed; /* Fixed table layout to ensure equal column widths */
    }

    th, td {
      border: 1px solid hsl(0deg 0% 80%);
      padding: 0.5em;
      text-align: left;
      word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 57%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 35%;
    }

    th:nth-child(3),
    td:nth-child(3) {
      width: 8%;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Wait for the DOM to be fully loaded
  
      // Get all elements with the class 'copyButton'
      var copyButtons = document.querySelectorAll('.copyButton');
  
      // Iterate over each copyButton
      copyButtons.forEach(function (button) {
        // Add a click event listener to each copyButton
        button.addEventListener('click', function () {
          // Get the parent element of the button, which contains the short URL
          var shortURLContainer = button.closest('.shortURLDiv');
  
          // Get the anchor element with the short URL
          var shortURLAnchor = shortURLContainer.querySelector('a');
  
          // Get the text content of the short URL
          var shortURLText = shortURLAnchor.textContent;
  
          // Create a textarea element to hold the text temporarily
          var textarea = document.createElement('textarea');
          textarea.value = shortURLText;
  
          // Append the textarea to the document
          document.body.appendChild(textarea);
  
          // Select the text in the textarea
          textarea.select();
  
          // Copy the selected text to the clipboard
          document.execCommand('copy');
  
          // Remove the textarea from the document
          document.body.removeChild(textarea);
        });
      });
    });
  </script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <h1>Hi <%= name %></h1>
    <form action="/shortUrls" method="POST">
      <div class="fullURLContainer">
        <label for="fullUrl">Url</label>
        <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl">
      </div>
      
      <div class="shortURLContainer">
        <label for="shortUrl">shortUrl</label>
      <input placeholder="Short Url" name="shortUrl" id="shortUrl">
      </div>
      
      <div class="submitButtonContainer">
        <button type="submit" class="shortenButton">Shorten</button>
      </div>
      
    </form>

    <table>
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% urls.forEach(shortUrl => { %>
        <tr>
          <td><a href="<%= shortUrl.fullUrl %>"><%= shortUrl.fullUrl %></a></td>
          <td>
            <div class="shortURLDiv">
              <div class="shortURLLinkDiv">
                <a href="<%= shortUrl.shortUrl %>">localhost:8800/<%= shortUrl.shortUrl %></a>
              </div>
              <div class="copyButtonDiv">
                <button class="copyButton"><i class="fa fa-clone"></i></button>
              </div>
            </div>
            
            
            
          </td>
          <td><%= shortUrl.clicks %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
  </div>
</body>

</html>
